* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  height: 100vh;
}

.full_height {
  height: 100%;
}

@mixin text_style($font_size: 25px, $color:white) {
  color: $color;
  font-size: $font_size;
  font-family: 'Gabarito', sans-serif;
}

@mixin glass_panel() {
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 30px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.23), inset 0px 0px 4px rgba(255, 255, 255, 0.23);
}

@mixin debug() {
  // background-color: rgba(0, 128, 0, 0.349);
  // border-color: red;
  // border-style: solid;
  // border-width: 5px;
}

$white_color: rgb(255, 255, 255);
$lightblue_color: rgb(252, 224, 243);
// $cyan_color: rgba(22, 77, 78, 0.85);
$cyan_color: #664662;

$background_1_color: #a33d81;
$background_2_color: #84426f;
$background_3_color: #664662;
$background_4_color: #292929;
